#ttt:hover .qwerty{
    visibility:visible;
}
img{
    height:250px;
    width:250px;
}
.br{
    opacity:0.5;
    color:blue;
}
h1{
    display:inline;
    text-align:center;
}
.qwerty {
	background-color:red;
}
#ttt {
	color:red;
}
div {
	padding:1;
	margin:1;
}
ul{
	list-style:square;
}
li:hover::after{
	background-color:PaleGoldenRod;
	content:"  Pick me! Pick me!";
}
		    
li:active::after{
	background-color: #46c70b;
	content: " You have made a good decision";
}
    
img.filtered-image {
	animation: sepiaFilter 2s forwards;
}

@keyframes sepiaFilter {
    from {
        filter: sepia(0%);
    }
    
    to {
        filter: sepia(100%);
    }
}
